<div class="filters box-shadow border-radius">
    <h3 class="filter-title">Filtres</h3>
    <div class="my-2">
        <label for="name" class="form-label">Nom de l'équipe</label>
        <input type="text" class="form-control" id="name">
    </div>
    <p class="my-2">Sport</p>
    <div class="d-flex flex-wrap">
        <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="sport" id="hockey">
            <label class="form-check-label" for="hockey">
                Hockey
            </label>
        </div>
        <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="sport" id="boxe">
            <label class="form-check-label" for="boxe">
                Boxe
            </label>
        </div>
        <div class="form-check me-3">
            <input class="form-check-input" type="radio" name="sport" id="rugby">
            <label class="form-check-label" for="rugby">
                Rugby
            </label>
        </div>
    </div>
    <input type="submit" value="FILTER" class="solid-btn my-3">
</div>
