<a href="#" class="team-card box-shadow border-radius {{ card_classes | default('') }}">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="team-name">Team Name (TN)</h3>
        <span class="text-end">Sport name</span>
    </div>
    <div class="d-flex justify-content-center aligns-items-center">
        <i class="fa-solid fa-hockey-puck icon"></i>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <span><strong>Membres :</strong></span>
        <span class="text-end">16</span>
    </div>
    <div class="d-flex justify-content-between">
        <span><strong>Date création :</strong></span>
        <span class="text-end">26/09/2013</span>
    </div>
</a>
