{% extends 'base.html.twig' %}

{% block title %}Détails équipe{% endblock %}

{% block main_class %}team-details{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row g-3">
        <div class="col-12 col-lg-6">
            {% include('partials/_team_card.html.twig') %}
        </div>
        <div class="col-12 col-lg-6">
            <div class="members box-shadow border-radius p-3">
                <h3 class="title">Membres :</h3>
                <div class="container-fluid">
                    <div class="row">
                        {% for i in 0..20 %}
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                <p class="text-center text-md-start">Allan JARRY - 27 ans</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="py-4 px-3 box-shadow border-radius">
                <a href="#" class="solid-btn me-3">ÉDITER</a>
                <a href="#" class="solid-btn danger me-3">SUPPRIMMER</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

